<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid ">
  
      <a class="navbar-brand" routerLink="/">Car Rent</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  
        <span class="navbar-toggler-icon"></span>
  
      </button>
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
        <ul  class="navbar-nav  navbar1  me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
  
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
  
          </li>
  
          <li class="nav-item">
  
            <a class="nav-link"    routerLink="/contact">Contact</a>
            
  
          </li>

          <li class="nav-item">
  
            <a class="nav-link"    routerLink="/add">Add New</a>
            
  
          </li>
  
          
  
          <li class="nav-item">
  
            <button class="btn btn-primary "  (click)="countClick()"  >Donate 10€</button>
  
          </li>

          <li class="donation">
  
            <h5>You have donated {{ donation }} €</h5>
  
          </li>

          
  
        </ul>
        <div id="donation1" class="donation">
  
          <ng-template [ngIf]="donation >= 200">
    
            <h5>You are VIP member</h5>
    
          </ng-template>
    
        </div>
  
  
      </div>
     
  
    </div>
    
  
  </nav>

